:root{
    /* COLOR VARIABLES */
    --clear: hsla(0, 0%, 100%, 0);
    --background-color: hsl(0, 0%, 100%);
    --button-color: hsla(0, 0%, 100%, 0);
    --p-color: hsl(228, 21%, 32%);
    --button-accent: hsla(220, 13%, 86%, 0.658);
    --font-color: hsl(0, 0%, 100%);
    /* TEXT SIZE VARIABLES */
    --default-text-size: 250em;
}

body{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
}

/* img{
    width: 10%;
    display: inline;
} */

.prompt{
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding: 5%;
    margin: auto;
}

/* initial load-in animation */
@keyframes load{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face{
    font-family: "vividly";
    src: url("fonts/vividly/Vividly-Regular.ttf");
}

/* for everything !! */
*{
    color: var(--p-color);
    /* text-align: center; */
    font-family: "vividly", Helvetica, sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    animation: load cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

body {
    margin: auto;
    padding: 12%;
    align-items: center;
    background-color: var(--background-color);
}

h1{
    padding: 1%;
    margin: 1%;
    font-size: 200%;
    text-align: center;
}

h2{
    padding: 1%;
    margin: 1%;
    font-size: 150%;
    text-align: center;
}

/* button styling */
button{
    display: block;
    border-style: solid;
    border-width: .05em;
    border-color: var(--button-color);
    padding: 3%;
    margin: auto;
    text-align: center;
    border-radius: 10%;
}

button:hover{
    background-color: var(--button-accent);
}

input{
    background-color: var(--clear);
    border-radius: 5%;
    border-color: var(--clear);
    border-bottom-style: solid;
    border-bottom-color: var(--p-color);
    border-width: 1%;
    padding: 0%;
    width: 20%;
    display: inline-block;
    /* grow as you type (?)*/
    overflow-x:auto;
    /* make that selection box go away*/
    outline: 0;

    max-width: 60%;
}

#start-screen {
    margin: auto;
    padding-bottom: 20%;
}

#main-screen {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 10%;
}

#leaderboard{
    margin: auto;
    padding: 10%;
    text-align: left;
}

#timer-value{
    margin: auto;
    padding: 10%;
}

[hidden]{
    display:none !important;
}

.cat{
    width: 20%;
    position: fixed;
}