<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Team 89 Personalized Learning App</title>
    <script src="../static/main.js" defer></script>
<body>
  <h1>Welcome!</h1>
  <form>
  <section id="prompt">
    <div>
      <label for="name">Enter your name:</label>
      <input type="text" name="name" id="name-input"></input>
  </div>

  <div>
    <label for="task">What do you most need to work on?</label>
    <input type="text" name="task" id="task-input"></input>
  </div>
  </section>
  <button type="button" id="start">Start studying!</button>
</form>
</body>
</html>
