<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Team 89 Personalized Learning App</title>
    <link rel="shortcut icon" href="../static/images/favicon2.png">
    <script src="../static/main.js" defer></script>
</head>
<body>
  <h1>Welcome!</h1>
  <div id="start-screen">
    <form>
      <section class="prompt">
        <section>
          <label for="name">Enter your name:</label>

          <input type="text" name="name" placeholder = "your name here" id="name-input"></input>

        </section>
        <section>
          <label for="task">What do you most need to work on?</label>

          <input type="text" placeholder = "task here" name="task" id="task-input"></input>

        </section>
      </section>
      <button type="button" id="start">Start studying!</button>
    </form>
  </div>

  <div id="main-screen">
    <div id="timer-container">
      <!-- TODO: timer widget here! -->
    </div>

    <div id="leaderboard">
      <!-- TODO: leaderboard -->

    </div>
  </div>
</body>
</html>
