<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Team 89 Personalized Learning App</title>
    <link rel="shortcut icon" href="../static/images/favicon2.png">
    <script src="../static/main.js" defer></script>
</head>
<body>
  <h1>Welcome!</h1>
  <div id="start-screen">
    <form>
      <section class="prompt">
        <section>
          <label for="name">Enter your name:</label>

          <input type="text" name="name" placeholder = "your name here" id="name-input"></input>

        </section>
        <section>
          <label for="task">What do you most need to work on?</label>

          <input type="text" placeholder = "task here" name="task" id="task-input"></input>

        </section>
      </section>
      <button type="button" id="start">Start studying!</button>
    </form>
  </div>

  <div id="main-screen" hidden=true>
      <h2>Timer</h2>
    <div id="timer-container">
      <!-- TODO: timer widget here! -->
      <button type="button">Start!</button>
      <div id="timer-value" style="font-size: 100px;">25:00</div>
    </div>

      <h2>Leaderboard</h2>
    <div id="leaderboard" style="border: solid black 2px">
      <!-- TODO: leaderboard -->

    </div>
  </div>
</body>
<footer>
  <nav>
    <a href="https://github.com/UVMHacks2025/team89">GitHub</a>
  </nav>
</footer>
</html>
